<% content_for :header do %>
<p class="code" style="display:none"><%=session[:code]%></p>
  <section class="content-header">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb" style="font-size:medium;">
          <li><a href="/dashboard"><i class="fa fa-dashboard"></i>首页</a></li>
          <li class="active">干烟管理</li>
        </ol>
      </div>
    </div>
  </section>
<% end %>
<% content_for :content do %>
  <section class="content" style="margin-top:-25px;">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb" style="font-size:medium;">
          <li><span style="color:gray;" class="info"> 总数据统计 </span></li>
        </ol>
      </div>
    </div>
    <div class="row">
    
      <div class="col-md-3">
        <div class="box box-widget">
          <div class="box-body">
            <div id="container" style="width:100%;height:200px;"></div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box box-widget">
          <div class="box-body">
            <div id="container2" style="width:100%;height:200px;"></div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box box-widget">
          <div class="box-body">
            <div id="container3" style="width:100%;height:200px;"></div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box box-widget">
          <div class="box-body">
            <div id="container4" style="width:100%;height:200px;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row1">
      <div class="col-md-12">
        <div class="box box-widget">
          <div class="box-header">
            <h3 class="box-title">品种统计<small>(单位:公斤)</small></h3>
          </div>
          <div class="box-body">
            <table class="table table-striped table-hover" id="tTrolleys">
              <thead>
                <tr>
                  <th rowspan="2">品种</th>
                  <th rowspan="2">干烟总量</th>
                  <th colspan="3">品质</th>
                  <th colspan="2">部位</th>
                </tr>
                <tr>
                  <th>正组</th>
                  <th>青烟</th>
                  <th>杂色</th>
                  
                  <th>上部叶</th>
                  <th>中部叶</th>
                  <th>下部叶</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row row2">
      <div class="col-md-12">
        <div class="box box-widget">
          <div class="box-header">
            <h3 class="box-title">部位统计<small>(单位:公斤)</small></h3>
          </div>
          <div class="box-body">
            <table class="table table-striped table-hover" id="tTrolleys2">
              <thead>
                <tr>
                  <th rowspan="2">部位</th>
                  <th rowspan="2">干烟总量</th>
                  <th colspan="3">品质</th>
                  <th colspan="3">品种</th>
                </tr>
                <tr class="breed_tr">
                  <th>正组</th>
                  <th>青烟</th>
                  <th>杂色</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    

    

  </section>
<% end %>